$tvItemWidth: 840px;
$tvItemHeight: 500px;
.wrapper {
    position: relative;
    height: 800px;
    -webkit-perspective: 800;
  }

  .layer {
    position: absolute;
    will-change: transform;
  }

  .ad {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $tvItemWidth;
    height: $tvItemHeight;
    margin-left: -$tvItemWidth / 2;
    margin-top: -$tvItemHeight / 2;
    background: black;
    overflow: hidden;
    border-radius: 3px;
    -webkit-transform-style: preserve-3d;
    will-change: transform;
    box-shadow: 0 60px 100px rgba(0, 0, 0, 0.5);
  }

  .layer-1,
  .layer-2,
  .layer-3 {
    top: 50%;
    left: 50%;
    margin-left: -630px;
    margin-top: -375px;
    width: 1260px;
    height: 750px;
    transform: scale(.7);
  }

  .light {
    top: 50%;
    left: 50%;
    margin-left: -$tvItemWidth;
    margin-top: -$tvItemHeight * 1.6;
    width: $tvItemWidth * 2;
    height: $tvItemHeight * 2;
    background: radial-gradient(ellipse closest-side at center, #6C6C6C, black);
    mix-blend-mode: color-dodge;
    opacity: .6;
    z-index: 3;
  }

  .light-2 {
    z-index: 4;
    background: radial-gradient(ellipse closest-side at center, white, black);
    mix-blend-mode: screen;
    opacity: .3;
  }

  .layer-1 {
    background-image: url(http://demos.attasi.com/apple-tv/images/breaking-bad-layer-1.jpg);
  }

  .layer-2 {
    background-image: url(http://demos.attasi.com/apple-tv/images/breaking-bad-layer-2.png);
  }

  .layer-3 {
    background-image: url(http://demos.attasi.com/apple-tv/images/breaking-bad-layer-3.png);
  }

