/*
// FONT FACE FOR ONLINE - REMOVE FROM LAYOUT FILE
@font-face {
    //font-family: sans-serif !important;
    font-family: 'phosphaterrsoliduploaded_file';
    src:

    url("{{ asset('fonts/phosphaterr_solid-webfont.woff2') }}")
    format('woff2'),
    url("{{ asset('fonts/phosphaterr_solid-webfont.woff') }}")
    format('woff'),
    url("{{ asset('fonts/PhosphateSolid.ttf') }}")
    format('truetype');

    font-weight: normal;
    font-style: normal;

}
*/

// Hide scrollbars
html {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scrolling-section::-webkit-scrollbar {
    display: none;
}

.scrolling-section {
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    color: white !important;
    background: black !important;
    //font-family: phosphaterrsoliduploaded_file !important;
    font-family: sans-serif !important;
    background: linear-gradient(to bottom, #f6f7fc 0%, #d5e1e8 40%);
}

.hide {
    display: none !important;
}

.lineup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.micro-logo {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 15px;
}

.fade-in {
    //animation-delay: 2.5s;
    animation-duration: 1s;
    animation-name: opacityAnimationFade;
    animation-fill-mode: forwards;
    display: flex !important;
}

.fade-out {
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-name: opacityAnimation;
    animation-fill-mode: forwards;
}

.blur {
    animation-duration: 0.9s;
    animation-name: scaleBlurAnimation;
    animation-fill-mode: forwards;
    //animation-delay: 1s;
    //animation-timing-function: cubic-bezier(1, 0.1, 1, 0.1);
}

@keyframes scaleBlurAnimation {
    0% {
        transform: scale(1);
        filter: blur(0px);
    }
    100% {
        transform: scale(0.9);
        filter: blur(5px);
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 1;
        filter: blur(0px);
        margin-top: 0;
    }
    100% {
        opacity: 0;
        filter: blur(5px);
        margin-top: -30px;
    }
}

@keyframes opacityAnimationFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropIn {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        margin-top: -20px;
        display: none;
    }
}

.slide-out {
    animation-duration: 0.9s;
    animation-name: dropOut !important;
    animation-fill-mode: forwards;
}

#included-form {
    display: flex;
    justify-content: center;
}

#email {
    //text-transform: lowercase;
}

#email_address {
    //text-transform: lowercase;
}

.hello {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    padding: 15px;
}

.alert-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    margin: 15px;
    margin-bottom: 0px;
    padding: 15px;
    width: 100%;
}

.alert-red h6 {
    margin: 0;
}

.alert-notif {
    animation-duration: 0.9s;
    animation-name: dropIn;
    animation-fill-mode: forwards;
}

.alert-red {
    margin: 5px;
    background-image: linear-gradient(to bottom right, #ff5a93, #ff0095);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
}

.form-control {
    border: 1px solid transparent !important;
}

.cross-form {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.disabled {
    pointer-events: none !important;
}

.stretch-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 200vw;
    overflow-x: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.stretch-card {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.carousel-item {
    height: auto !important;
    overflow-x: hidden !important;
}

.carousel-inner {
    height: 100vh !important;
}

.carousel-ctrl-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    width: 100vw;
    padding-bottom: 15px;
}

.text-danger-custom {
    color: #008aff !important;
    filter: brightness(1.3);
}

.text-mute {
    color: white !important;
}

#contact-modal-button {
    border-radius: 25px;
    border: none !important;
    background-color: #008aff;
    filter: brightness(1.3);
}

.over-scroll-hero {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.hero-background {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    object-fit: cover;
}

.hero-slide-1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}

.title-card {
    position: absolute;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.hero-slide-arrow-back {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.carousel-pre-wrap {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 11;
    background-color: #000;
}

.modal {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.modal-header {
    border-bottom: none !important;
    justify-content: center !important;
}

.modal-footer {
    border-top: none !important;
    justify-content: center !important;
}

.modal-content {
    border-radius: 25px !important;
    background-color: #000000e8 !important;
    margin-top: 30%;
}

.flag-holster {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-icon {
    height: 80px;
    width: 80px;
}

a {
    color: white !important;
}
a:hover {
    color: #008aff !important;
    filter: brightness(1.3) !important;
    text-decoration: none !important;
}

img {
    max-width: none !important;
    height: auto;
}

.nav-custom {
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.nav--login {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

#nav_logo {
    background-image: linear-gradient(#f00, #dc1c2a, #ff9b00, #ffff00d1);
    font-size: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    filter: brightness(1.3);
}

.nav_links_list {
    display: flex;
    align-items: center;
}

.over-top {
    background-color: black;
    z-index: 11;
}

.href_links {
    text-decoration: none;
    color: #ffffffd1;
    margin-right: 15px;
}

.href_links:hover {
    color: white;
}

.button_1 {
    background-color: #1186fa;
    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 3px 9px 3px 9px;
    filter: brightness(1.3);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.ItemCard {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
        box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    width: 50vw;
    height: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.ItemCard .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ItemCard__dest {
    z-index: 30;
    display: block;
}

.ItemCard__thumb {
    position: relative;
    z-index: 3;
    padding: 0;
    transition: transform 0.2s;
}

.ItemCard__thumb img {
    display: block;
    transition: box-shadow 0.2s;
}

.ItemCard__layer {
    z-index: 10;
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    backdrop-filter: brightness(0.5);
    -webkit-backdrop-filter: brightness(15px);
}

.ItemCard__summary {
    z-index: 20;
    display: flex;
    flex-direction: column;
    transform: perspective(600px) translate3d(0, 100%, 0);
    text-align: center;
    color: #fff;
    justify-content: center;
}

.ItemCard__title {
    margin: 8px 0;
    font-weight: 900;
    transform: translate3d(0, 150px, 50px);
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
    line-height: 1.48;
}

.ItemCard__meta.category {
    font-weight: 900;
    transform: translate3d(0, 150px, 40px);
    text-transform: uppercase;
    color: #f53794;
    font-size: 14px;
}

.ItemCard__meta.designer {
    font-style: italic;
    transform: translate3d(0, 150px, 20px);
    font-size: 12px;
}

.ItemCard__meta.designer:before {
    margin-right: 3px;
    //content: 'by';
}

.ItemCard__title,
.ItemCard__meta {
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.38);
}

/**
 * Hover state
 */
.ItemCard:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.ItemCard:hover .ItemCard__layer {
    opacity: 0.9;
}

.ItemCard:hover .ItemCard__summary {
    transform: translate3d(0, 0, 0);
}

.ItemCard:hover .ItemCard__title {
    transform: translate3d(0, 0, 50px);
}

.ItemCard:hover .ItemCard__meta.category {
    transform: translate3d(0, 0, 40px);
}

.ItemCard:hover .ItemCard__meta.designer {
    transition-delay: 0.05s;
    transform: translate3d(0, 0, 20px);
}

.ItemCard,
.ItemCard__summary {
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

#ok1 {
    height: 30vh !important;
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.no-parallax {
    background-color: #111;
    z-index: 999;
}

section h1 {
    text-align: center;
    font-size: 4rem;
}

.parallax h1 {
    width: 60%;
    font-size: 2rem;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://www.izkiz.net/wp-content/uploads/2017/12/DSC_4364.jpg");
    background-size: cover;
    background-position: center;
}

.sg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(" https://www.tripsavvy.com/thmb/Ue5Tz-4fTb9OTBbEzBxlqa8UT_s=/2143x1399/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-154260931-584169ec3df78c0230514c82.jpg");
    background-size: cover;
    background-position: center;
}

.fg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(" https://www.tripsavvy.com/thmb/Wk82r4h3CXX2aa9mwkFJ-Jq2z-w=/1496x1496/smart/filters:no_upscale()/DSC_0017-5c76c3edc9e77c0001f57b49.jpg");
    background-size: cover;
    background-position: center;
}

.parallax2 {
    -webkit-perspective: 100px;
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
}

.parallax__cover {
    background: #2d112b;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

.parallax__layer__0 {
    -webkit-transform: translateZ(-300px) scale(4);
    transform: translateZ(-300px) scale(4);
}

.parallax__layer__1 {
    -webkit-transform: translateZ(-250px) scale(3.5);
    transform: translateZ(-250px) scale(3.5);
}

.parallax__layer__2 {
    -webkit-transform: translateZ(-200px) scale(3);
    transform: translateZ(-200px) scale(3);
}

.parallax__layer__3 {
    -webkit-transform: translateZ(-150px) scale(2.5);
    transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__4 {
    -webkit-transform: translateZ(-100px) scale(2);
    transform: translateZ(-100px) scale(2);
}

.parallax__layer__5 {
    -webkit-transform: translateZ(-50px) scale(1.5);
    transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
    -webkit-transform: translateZ(0px) scale(1);
    transform: translateZ(0px) scale(1);
}

.social_link_icon {
    height: 30px;
}

.home_page_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: white;
    margin: 15px;
}

.home_page_box_spiega {
    width: 50%;
}

.box_icon:hover {
    background-image: radial-gradient(
            circle farthest-corner at 35% 90%,
            #82e1ff,
            #0000 50%
        ),
        radial-gradient(circle farthest-corner at 0 140%, #ff90fe, #0000 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #ffadeb, #0000 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #fcd4d4, #0000 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #ffd6b7, #0000 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #ffffa9, #0000 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #ffffa9, #0000),
        linear-gradient(
            #ffd6b7,
            #fcd4d4 30%,
            #ffadeb 50%,
            #ff90fe 70%,
            #82e1ff 100%
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}

.pub_img {
    height: 80px;
    width: 100px;
}

#mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardsWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
}

.card {
    perspective: 1000px;
    position: relative;
    margin: 1vw;
    background-color: transparent !important;
    border: none !important;
    color: white;
}

.image {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.image.first {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.text {
    transform: translateZ(30px) scale(0.94);
}

.text p {
    cursor: default;
    padding: 0;
    margin: 0;
}

.text p:first-of-type {
    font-size: 2em;
    margin-bottom: 5px;
    font-weight: 500;
}
.text p:last-of-type {
    font-size: 1em;
    font-weight: 400;
}
.carousel-holster {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.carousel-inner {
    width: 96vw !important;
    display: flex;
    width: 96vw !important;
    height: 70vh;
    align-items: center;
}
.carousel-item {
    height: 30vw;
    width: 96vw;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
}
.inner-item-layout {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.caro-image {
}
.carousel-indicators {
    bottom: -80px !important;
    color: black !important;
}
.carousel-indicators li {
    height: 15px !important;
    width: 15px !important;
    border-radius: 100% !important;
    color: black !important;
}

.icon-font-layout {
    display: flex;
    align-items: center;
}

.arrow_upward {
    background-image: linear-gradient(#15ff15, #088a08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.language-block {
    font-size: 0.7rem !important;
}

@media screen and (max-width: 768px) {
    .language-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        flex-direction: row;
        width: 100vw;
        padding: 0px 15px 15px 15px;
    }

    #second-slide {
        padding: 50px;
    }

    .home-section {
        padding: 15px;
    }

    .info-box-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .info-box {
        padding: 20px;
    }

    #slide-bg {
        height: 100vh;
    }

    .phone-laptop-layout {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
    }

    .laptop-image {
        height: 25vh;
    }

    .phone-image {
        height: 20vh;
        position: absolute;
        margin-left: 20px;
    }

    .footer-logo {
        font-size: 5rem;
    }

    .mcl {
        height: auto !important;
    }

    .mobile-card-layout {
        color: white;
        display: flex;
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-typeface-logo {
        font-size: 2rem;
    }

    .hero-typeface {
        font-size: 1rem;
    }
    .box_icon {
        font-size: 50px !important;
    }

    .nav-custom {
        //display: none;
        height: 10vh;
        justify-content: center !important;
        //backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        padding-top: 40px;
        align-items: center;
        flex-direction: column;
    }

    .inner-nav {
        margin-top: 15px;
    }

    .privacy-cookies {
        display: flex;
        justify-content: center;
        width: 96vw;
    }

    .ItemCard__title {
        font-size: 24px;
    }

    .card {
        width: 96vw;
        height: 96vw;
    }
    #io-image {
        margin-left: 50vw;
        height: 14vw;
        bottom: 55vh;
        filter: brightness(0.9);
    }

    #europa-image {
        margin-left: 70vw;
        height: 10vw;
        bottom: 60vh;
        filter: brightness(0.9);
        z-index: 1;
    }

    #ganymede-image {
        margin-left: 65vw;
        height: 25vw;
        bottom: 70vh;
        filter: brightness(1.1);
        z-index: 2;
    }

    #callisto-image {
        margin-left: 30vw;
        height: 25vw;
        bottom: 80vh;
        filter: brightness(1.3);
        z-index: 3;
    }

    #jupiter-image {
        margin-left: -55vw;
        bottom: -10vh;
        height: 160vw;
        filter: brightness(1.3);
        z-index: 4;
    }

    #jiant-image {
        height: 20vw;
        z-index: 4;
    }

    .column-display {
        flex-direction: column;
    }

    .icon-font-layout {
        display: flex;
        align-items: center;
        margin: 15px;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-between;
        width: 90vw;
    }

    .screen {
        width: 100%;
        height: 5%;
        transform: translateZ(30px) scale(0.94);
    }

    .caro-text {
        font-size: 14px;
    }

    .info-image {
        height: 35vw;
    }

    .juno {
        height: 10.5vw;
    }

    .contact-icon {
        height: 40vw;
    }

    .jiant-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 96vw;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .jiant-footer-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .footer-app-icon {
        height: 10vw;
        z-index: 4;
    }

    #hidden-icon {
    }
}

@media screen and (min-width: 768px) {
    .alert-container {
        width: 30%;
    }

    #dont-show-me {
        display: none;
    }

    .language-block {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: flex-end;
        bottom: 0 !important;
        position: fixed;
        padding: 0px 15px 15px 15px;
    }

    .info-box-container {
        display: flex;
        justify-content: center;
    }

    .info-box {
        width: 30%;
        padding: 20px;
    }

    .phone-laptop-layout {
        display: flex;
        align-items: flex-end;
    }

    .laptop-image {
        height: 50vh;
    }

    .phone-image {
        height: 40vh;
        position: absolute;
    }

    .footer-logo {
        font-size: 3rem;
    }

    .mobile-card-layout {
        color: white;
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-para {
        font-size: 12px !important;
    }

    .hero-typeface-logo {
        font-size: 4rem;
    }

    .hero-typeface {
        font-size: 2rem;
    }

    .box_icon {
        font-size: 100px !important;
    }

    .privacy-cookies {
        display: flex;
        justify-content: flex-start;
        padding-left: 15px;
    }
    section h1 {
        font-size: 8rem;
    }
    .parallax h1 {
        font-size: 4rem;
    }
    .card {
        width: 30vw;
        height: 45vh;
    }
    #io-image {
        margin-left: 53vw;
        height: 5vw;
        bottom: 12vh;
        filter: brightness(0.7);
        z-index: 0;
    }

    #europa-image {
        margin-left: 61vw;
        height: 4vw;
        bottom: 19vh;
        filter: brightness(0.9);
        z-index: 1;
    }

    #ganymede-image {
        margin-left: 68vw;
        height: 12vw;
        bottom: 27vh;
        filter: brightness(1.1);
        z-index: 2;
    }

    #callisto-image {
        margin-left: 80vw;
        height: 16vw;
        bottom: 57vh;
        filter: brightness(1.3);
        z-index: 3;
    }

    #jupiter-image {
        margin-left: -10vw;
        height: 65vw;
        bottom: -30vh;
        filter: brightness(1.3);
        z-index: 4;
    }

    #jiant-image {
        height: 8vw;
        z-index: 4;
    }

    .info-image {
        height: 10vw;
    }

    .screen {
        width: 100%;
        height: 15%;
        transform: translateZ(30px) scale(0.94);
    }

    .juno {
        height: 8.5vw;
    }

    .contact-icon {
        height: 12vw;
    }

    .jiant-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    .jiant-footer-details {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer-app-icon {
        height: 5vw;
        z-index: 4;
    }
}

@-webkit-keyframes scroll {
    100% {
        background-position: -3000px 0px;
    }
}
@-moz-keyframes scroll {
    100% {
        background-position: -3000px 0px;
    }
}
@-o-keyframes scroll {
    100% {
        background-position: -3000px 0px;
    }
}
@-ms-keyframes scroll {
    100% {
        background-position: -3000px 0px;
    }
}
@keyframes scroll {
    100% {
        background-position: -3000px 0px;
    }
}

@-webkit-keyframes scroll2 {
    100% {
        background-position: -3000px 0px;
    }
}
@-moz-keyframes scroll2 {
    100% {
        background-position: -3000px 0px;
    }
}
@-o-keyframes scroll2 {
    100% {
        background-position: -3000px 0px;
    }
}
@-ms-keyframes scroll2 {
    100% {
        background-position: -3000px 0px;
    }
}
@keyframes scroll2 {
    100% {
        background-position: 3000px 0px;
    }
}
