
body{
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
    color:white;
    background-color:black!important;
    font-family:sans-serif;
    //background: linear-gradient(to bottom, #f6f7fc 0%,#d5e1e8 40%);
}

a{
    color:white!important;
}
a:hover{
    color:#008aff!important;
    filter:brightness(1.3)!important;
    text-decoration:none!important;
}

img {
    max-width: none!important;
    height: auto;
}

.nav-custom{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index:5;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000000d9;
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
}

.inner_nav{
    display: flex;
    //background-color: #000c;
    background-color:0000007a;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: #fff;
    //padding: 15px;
    align-items: center;
    justify-content: space-evenly;
}

#nav_logo{
    background-image: linear-gradient(#f00,#dc1c2a, #ff9b00, #ffff00d1);
    font-size:50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    filter:brightness(1.3);
}

.nav_links_list{
    display: flex;
    align-items: center;
}

.mid-section{#
    //overflow-y:scroll;
    //padding:15px;
    //margin-top:10vh;
    //height: 100vh;
}

.href_links{
    text-decoration:none;
    color:#ffffffd1;
    margin-right:15px;
}

.href_links:hover{
    color:white;
}

.button_1{
    background-color: #1186fa;
    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 3px 9px 3px 9px;
    filter:brightness(1.3);
}

/*
.footer{
    bottom:0;
    height:10vh;
    display:flex;
    background-color:white;
    color:black;
    padding:15px;
}
*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.ItemCard {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: perspective(600px) translate3d(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    //max-width: 510px;
    width:50vw;
    height: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.ItemCard .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ItemCard__dest {
    z-index: 30;
    display: block;
}

.ItemCard__thumb {
    position: relative;
    z-index: 3;
    padding: 0;
    transition: transform .2s;
}

.ItemCard__thumb img {
    display: block;
    transition: box-shadow 0.2s;
}

.ItemCard__layer {
    z-index: 10;
    transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 0;
    //background: #9d50bb;
    //background: -moz-linear-gradient(120deg, #9d50bb 0%, #4096ee 100%);
    //background: -webkit-linear-gradient(120deg, #9d50bb 0%, #4096ee 100%);
    //background: linear-gradient(120deg, #9d50bb 0%, #4096ee 100%);
    backdrop-filter:brightness(0.5);
    -webkit-backdrop-filter: brightness(15px);
}

.ItemCard__summary {
    z-index: 20;
    //padding: 25px;
    display: flex;
    flex-direction: column;
    transform: perspective(600px) translate3d(0, 100%, 0);
    text-align: center;
    color: #fff;
    justify-content: center;
}

.ItemCard__title {
    margin: 8px 0;
    font-weight: 900;
    transform: translate3d(0, 150px, 50px);
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
    line-height: 1.48;
}

.ItemCard__meta.category {
    font-weight: 900;
    transform: translate3d(0, 150px, 40px);
    text-transform: uppercase;
    color: #f53794;
    font-size: 14px;
}

.ItemCard__meta.designer {
    font-style: italic;
    transform: translate3d(0, 150px, 20px);
    font-size: 12px;
}

.ItemCard__meta.designer:before {
    margin-right: 3px;
    //content: 'by';
}

.ItemCard__title,
.ItemCard__meta {
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.38);
}

/**
 * Hover state
 */
.ItemCard:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.ItemCard:hover .ItemCard__layer {
    opacity: .9;
}

.ItemCard:hover .ItemCard__summary {
    transform: translate3d(0, 0, 0);
}

.ItemCard:hover .ItemCard__title {
    transform: translate3d(0, 0, 50px);
}

.ItemCard:hover .ItemCard__meta.category {
    transform: translate3d(0, 0, 40px);
}

.ItemCard:hover .ItemCard__meta.designer {
    transition-delay: .05s;
    transform: translate3d(0, 0, 20px);
}

.ItemCard,
.ItemCard__summary {
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

#ok1{
    height:30vh!important;
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.no-parallax {
    background-color: #111;
    z-index: 999;
}

section h1 {
    text-align: center;
    font-size: 4rem;
}

.parallax h1 {
    width: 60%;
    font-size: 2rem;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://www.izkiz.net/wp-content/uploads/2017/12/DSC_4364.jpg");
    background-size: cover;
    background-position: center;
}

.sg::after{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(" https://www.tripsavvy.com/thmb/Ue5Tz-4fTb9OTBbEzBxlqa8UT_s=/2143x1399/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-154260931-584169ec3df78c0230514c82.jpg");
    background-size: cover;
    background-position: center;
}

.fg::after{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(" https://www.tripsavvy.com/thmb/Wk82r4h3CXX2aa9mwkFJ-Jq2z-w=/1496x1496/smart/filters:no_upscale()/DSC_0017-5c76c3edc9e77c0001f57b49.jpg");
    background-size: cover;
    background-position: center;
}

.parallax2 {
    -webkit-perspective: 100px;
            perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;

    //filter: drop-shadow(2px 4px 6px black);
  }

  .parallax__cover {
    background: #2D112B;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    //height: 50vh;
    z-index: 2;
  }

  .parallax__layer__0 {
    -webkit-transform: translateZ(-300px) scale(4);
            transform: translateZ(-300px) scale(4);
  }

  .parallax__layer__1 {
    -webkit-transform: translateZ(-250px) scale(3.5);
            transform: translateZ(-250px) scale(3.5);
  }

  .parallax__layer__2 {
    -webkit-transform: translateZ(-200px) scale(3);
            transform: translateZ(-200px) scale(3);
  }

  .parallax__layer__3 {
    -webkit-transform: translateZ(-150px) scale(2.5);
            transform: translateZ(-150px) scale(2.5);
  }

  .parallax__layer__4 {
    -webkit-transform: translateZ(-100px) scale(2);
            transform: translateZ(-100px) scale(2);
  }

  .parallax__layer__5 {
    -webkit-transform: translateZ(-50px) scale(1.5);
            transform: translateZ(-50px) scale(1.5);
  }

  .parallax__layer__6 {
    -webkit-transform: translateZ(0px) scale(1);
            transform: translateZ(0px) scale(1);
  }

  .social_link_icon{
    height:30px;
  }

  .home_page_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    //height:30vw;
    //background-color:black;
    color:white;
    margin: 15px;


  }

  .home_page_box_spiega{
    width:50%;
  }

  .box_icon{
    font-size:100px!important;
  }

  .box_icon:hover{
    background-image: radial-gradient(circle farthest-corner at 35% 90%, #82e1ff, #0000 50%), radial-gradient(circle farthest-corner at 0 140%, #ff90fe, #0000 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #ffadeb, #0000 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #fcd4d4, #0000 50%), radial-gradient(ellipse farthest-corner at 100% 0, #ffd6b7, #0000 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #ffffa9, #0000 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #ffffa9, #0000), linear-gradient(#ffd6b7, #fcd4d4 30%, #ffadeb 50%, #ff90fe 70%, #82e1ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform:scale(1.1);
  }



  .pub_img{
    height:80px;
    width:100px;
  }


  #mainWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 350px;
  }

  #cardsWrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
  }

  .card{
    //width: 30vw;
    //height: 30vw;
    perspective: 1000px;
    position: relative;
    margin:1vw;
    background-color:transparent!important;
    border:none!important;
    color:white;
  }

  .image{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    //transform: rotateX(30deg) rotateY(30deg);
  }

  .image.first{
    //background-image: url("{{ asset('images/hi_r/callisto.png') }}");

    background-repeat: no-repeat;
    background-size: cover;
    border-radius:15px;
  }

  .screen{
    //background-color: rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 20%;
    transform: translateZ(30px) scale(0.940);
  }

  .text{
    //position: absolute;
    //bottom: 25px;
    //left: 30px;
    //bottom: 37%;
    //left: 37%;
    //color: white;
    transform: translateZ(30px) scale(0.940);
    font-family: 'Quicksand', sans-serif;
  }

  .text p{
      cursor: default;
      padding: 0;
      margin: 0;
  }

  .text p:first-of-type{
      font-size: 2em;
      margin-bottom: 5px;
      font-weight: 500;
  }
  .text p:last-of-type{
      font-size: 1em;
      font-weight: 400;
  }
  .carousel-holster{
    display: flex;
    //background-color: #fff;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
    .carousel-inner{
        width: 96vw!important;
    }
    .carousel-item{
    height: 30vw;
    width: 96vw;
    border-radius: 15px;
    background-position:center;
    background-size:cover;
    }
    .inner-item-layout{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .info-image{
        height:10vw;
    }
  .caro-image{
    //height: 30vw;
    //width: 96vw;
    //border-radius: 15px;
  }
  .carousel-indicators{
    bottom:-50px!important;
    color:black!important;
  }
  .carousel-indicators li{
        height:15px!important;
        width:15px!important;
        border-radius:100%!important;
        color:black!important;
  }

  .icon-font-layout{
    display:flex;
    align-items:center;
  }

  .arrow_upward{
    background-image: linear-gradient(#15ff15, #088a08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@media screen and (max-width: 768px) {
    .ItemCard__title {
        font-size: 24px;
    }

    .card{
        width: 96vw;
        height: 96vw;
    }

}

@media screen and (min-width: 768px) {
    section h1 {
        font-size: 8rem;
    }
    .parallax h1 {
        font-size: 4rem;
    }

    .card{
        width: 30vw;
        height: 30vw;
    }
}
